body::before {
    display: block;
    content: '';
    height: 50px;
}



a,
a:active,
a:hover {
    color: inherit;
    text-decoration: none;
}

p {
    line-height: 25px;
}

/*
.links:hover {
    color: rgb(184, 120, 72)
}
*/


/*

.pixelphts {
    height: 350px;
    width: 350px;
    margin: 45px 45px 45px 45px;
    max-height: 350px;
    overflow-y: hidden;
}
*/
/*
@media (min-width: 320px) and (max-width: 480px) {
    .profilepicture {
        height: 300px;
        width: 300px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .profilepicture {
        height: 350px;
        width: 350px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .profilepicture {
        height: 370px;
        width: 370px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    .profilepicture {
        height: 390px;
        width: 390px;
    }
}

@media (min-width: 1201px) {
    .profilepicture {
        height: 300px;
        width: 300px;
    }
}
*/
/*
.update {
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border: 10px black;
    border: solid;
    text-align: center;
    background-color: burlywood;
}


h1 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#coding {
    height: 100px;
}

.body {
    background-color: wheat;
}
*/

